@page
@model IndexModel
@{
    ViewData["Title"] = "RealTimeR";
}

<div class="text-center">
    <h1 class="display-4">RealTimeR</h1>
    <span id="status"></span>
</div>

<script src="~/js/signalr.min.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .withUrl("/streamingtime")
        .withAutomaticReconnect()
        .build();

    connection.onreconnected((connectionId) =>
    {
        startStreaming();
    });

    async function start() 
    {
        try 
        {
            connection.start().then(() => {
                startStreaming();
            });
        }
        catch 
        {
            console.log(err);
            setTimeout(() => start(), 5000);
        }
    }

    function startStreaming()
    {
        connection
            .stream('ServerTimer')
                .subscribe({
                    next: (serverTime) => {
                        document.getElementById('status').innerText = serverTime;
                    },
                    complete: () => {
                        console.log('complete!');
                    },
                    error: (err) => {
                        console.log(err);
                    }
                });
    }

    start();
</script>